@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald';



}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
}

.container {
    width: 80%
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image{

    width: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 1rem;

}

.form-image img{
    width: 20rem;
}

.form{

    width: 70%
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff
}

.form-header {

    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {

    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color 

}